<div class="page_spacing" style="background:#62A1CB;">
  <div class="levels-page">
    <center>
        <div style="padding-left:100px; padding-right:100px; color:white;"><h2 style="color:white;">Karma</h2>
      <p class="tutorial-text" style="color:white;text-align:justify;">The Karma points system is based on the number of miles you travel using different modes of transportation.
      Based on the air quality on the day of a trip, you may earn more points by taking clean transportation on a bad air day.<br><br>
      The Karma leveling system is based on animals that live within
    the Rocky Mountains of the United States.  By incorporating these animals, we hope users of our application
    are more committed towards helping our local environment by reducing their pollution.  As you level up, 
    you will encounter some of the most unique and beautiful animals who call our region home.</p>
    <table cellpadding=10px style="background-color: rgba(0,0,0,0.3);">
      <tr>
        <td><b>Level</b></td>
        <td><b>Animal</b></td>
        <td><b>Icon</b></td>
        <td><b>Points Needed to Obtain Level</b></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Common Chipmunk</td>
        <td><%= image_tag("animals/kl_1_chipmunk.png", :size=>"75x75"); %></td>
        <td>0 points</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Red Squirrel</td>
        <td><%= image_tag("animals/kl_2_squirrel.png", :size=>"75x75"); %></td>
        <td>50 points</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Jackrabbit</td>
        <td><%= image_tag("animals/kl_3_rabbit.png", :size=>"75x75"); %></td>
        <td>100 points</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Prairie Dog</td>
        <td><%= image_tag("animals/kl_4_prairiedog.png", :size=>"75x75"); %></td>
        <td>175 points</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Beaver</td>
        <td><%= image_tag("animals/kl_5_beaver.png", :size=>"75x75"); %></td>
        <td>250 points</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Seagull</td>
        <td><%= image_tag("animals/kl_6_seagull.png", :size=>"75x75"); %></td>
        <td>350 points</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Rattlesnake</td>
        <td><%= image_tag("animals/kl_7_rattlesnake.png", :size=>"75x75"); %></td>
        <td>450 points</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Great Horned Owl</td>
        <td><%= image_tag("animals/kl_8_owl.png", :size=>"75x75"); %></td>
        <td>575 points</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Mule Deer</td>
        <td><%= image_tag("animals/kl_9_deer.png", :size=>"75x75"); %></td>
        <td>700 points</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Mountain Goat</td>
        <td><%= image_tag("animals/kl_10_goat.png", :size=>"75x75"); %></td>
        <td>850 points</td>
      </tr>
      <tr>
        <td>11</td>
        <td>North American Elk</td>
        <td><%= image_tag("animals/kl_11_elk.png", :size=>"75x75"); %></td>
        <td>1000 points</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Bighorn Sheep</td>
        <td><%= image_tag("animals/kl_12_sheep.png", :size=>"75x75"); %></td>
        <td>1175 points</td>
      </tr>
      <tr>
        <td>13</td>
        <td>Coyote</td>
        <td><%= image_tag("animals/kl_13_coyote.png", :size=>"75x75"); %></td>
        <td>1350 points</td>
      </tr>
      <tr>
        <td>14</td>
        <td>Bison</td>
        <td><%= image_tag("animals/kl_14_bison.png", :size=>"75x75"); %></td>
        <td>1550 points</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Moose</td>
        <td><%= image_tag("animals/kl_15_moose.png", :size=>"75x75"); %></td>
        <td>1750 points</td>
      </tr>
      <tr>
        <td>16</td>
        <td>Peregrine Falcon</td>
        <td><%= image_tag("animals/kl_16_falcon.png", :size=>"75x75"); %></td>
        <td>1975 points</td>
      </tr>
      <tr>
        <td>17</td>
        <td>Mountain Lion</td>
        <td><%= image_tag("animals/kl_17_mountainlion.png", :size=>"75x75"); %></td>
        <td>2200 points</td>
      </tr>
      <tr>
        <td>18</td>
        <td>Bald Eagle</td>
        <td><%= image_tag("animals/kl_18_baldeagle.png", :size=>"75x75"); %></td>
        <td>2450 points</td>
      </tr>
      <tr>
        <td>19</td>
        <td>Gray Wolf</td>
        <td><%= image_tag("animals/kl_19_wolf.png", :size=>"75x75"); %></td>
        <td>2700 points</td>
      </tr>
      <tr>
        <td>20</td>
        <td>Grizzly Bear</td>
        <td><%= image_tag("animals/kl_20_bear.png", :size=>"75x75"); %></td>
        <td>3000 points</td>
      </tr>
    </table>
  </div>

</center>
  </div>
</div>
