<div class="vizbar bike container">
  <ul class="databar-list">  
    <li>
    <%= link_to '<i class="fa fa-road"></i>'.html_safe,
                   {:controller => "visualizations",
                    :action => "linechart",
                    :category_token => "BKE",
                    :data_token => "MIL"} %>
    <h5><%= @user.total.total_bike_miles %> miles</h5> 
    </li>

    <li>
    <%= link_to '<i class="fa fa-briefcase"></i>'.html_safe,
                   {:controller => "visualizations",
                    :action => "linechart",
                    :category_token => "BKE",
                    :data_token => "TRP"} %>
    <h5><%= @user.total.total_bike_trips %> trips</h5> 
    </li>

    <li>
    <%= link_to '<i class="fa fa-globe"></i>'.html_safe,
                   {:controller => "visualizations",
                    :action => "linechart",
                    :category_token => "BKE",
                    :data_token => "EMS"} %>
    <h5><%= @hash_savings_bike["EMS"] %> lbs</h5> 
    </li>

    <li>
    <%= link_to '<i class="fa fa-dollar"></i>'.html_safe,
                   {:controller => "visualizations",
                    :action => "linechart",
                    :category_token => "BKE",
                    :data_token => "MNY"} %>
    <h5>$<%= @hash_savings_bike["MNY"]%></h5> 
    </li>

    <li>
    <%= link_to '<i class="fa fa-bolt"></i>'.html_safe,
                   {:controller => "visualizations",
                    :action => "linechart",
                    :category_token => "BKE",
                    :data_token => "ENG"} %>
    <h5><%= @hash_savings_bike["ENG"]%> kW/h</h5> 
    </li>
  </ul>
</div>


