<!DOCTYPE html>
<html>
<head>
  <title>Turn the Tide</title>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,400' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "highcharts" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
  <%= render 'layouts/header' %>
  <!--<#% flash.each do |name, msg| %>
    <#%= content_tag :section, msg, :id => "flash_#{name}", :class => "flash alert" %>
  <#% end %>-->
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
